body{
    font-family: 'Roboto', sans-serif;
}

.img-logo{
    max-width: 300px;
}

.topo{
    padding: 20px 0;
    background: #fff;
}

.banner-topo .img-droid{
    max-width: 300px;
}

.quem-somos .img-droid{
    max-width: 600px;
}

.banner-topo h1{
    color: #78c257;
    padding-top: 20px;
}

.btn-color{
    background-color: #78c257;
    border: none;
}

.img-hab{
    max-width: 150px;
}

.cor-tema{
    color: #78c257;
    font-weight: bold;
}

.color-fundo{
    background-color: rgb(241, 245, 247);
}

.img-card{
    max-height: 400px;
    
}

.navbar a:hover{
   color: #3aaa05;
}

.carousel-indicators {
    bottom: -50px;
    background: #78c257;
}

.carousel-inner img{
    max-height: 150px;
    width: 150px;
}
